<div class="container devise_form">
  <h2>암호 분실</h2>
  
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= devise_error_messages! %>
  
    <div class="field">
      <%= f.label :"이메일" %><br />
      <%= f.email_field :email, class: "devise_noborder", required: true, autofocus: true, autocomplete: "email", placeholder: "가입당시 입력했던 메일주소를 입력해주세요." %>
    </div>
  
    <div class="actions">
      <%= f.submit "암호 재 설정", class: "btn btn-sm btn-info" %>
    </div>
  <% end %>
  
    <div style="margin-top: 30px" align="center">
      <%= render "devise/shared/info" %>
    </div>
</div>